body{
    padding: 0px;
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  #nav{
    height: 100px;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;  
    position: absolute;
    background-color: #3d3734;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
  }
  .dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: white;
  }
  .dropdown-c{
      border-bottom: 1px solid black;
      font-size: 17px;
      padding: 10px;
      color: white;
      font-weight: bold;
  }
  
  .dropdown:hover .dropdown-content {
  display: block;
  }
  .bank{
    float: left;
  }
  .heads{
    float: right;
    padding-top: 20px;
    padding-right: 10px;
    font-family: gill_ssibold;
  }
  .links{
    text-decoration: none;
    font-size: 15px;
    padding: 10px;
    font-weight: 900;
    letter-spacing: 1px;
    color: #9b9b9b;
    
  }
  .links:hover{
    text-decoration: underline;
    text-decoration-color: #d7262d;
    color:#0062a8 ;
    font-weight: bold;
  }
  i{
    padding: 10px;
  }
  .login{
    color:black;
    height: 100px;
  }
  .login:hover{
    color: #d7262d;
  }
  .homeimg{
    width:100%;
    height: 550px;
    opacity: 0.5;
  }
  .top-left {
    position: absolute;
    top: 100px;
    left: 16px;
  }
  .text1{
    font-size: 40px;
    line-height: 40px;
    color:black;
    opacity: 0.8;
  }  
  .inside{
    font-size: 50px;
    font-weight: 800;
    padding-left: 1px;
  }
  .yes_team{
    padding: 10px;
    font-size: 13px;
  }
  .flex-container {
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    height: 260px;
    justify-content: center;
}
.row {
    display: flex;
  }
  
  .column {
    flex: 50%;
  }
.imgsize{
    height: 150px;
    width:190px;
    padding: 5px;  
}
.about-us{
  padding: 15px;
  letter-spacing: 1px;
  line-height: 0.5px;
  border-bottom-color: #d7262d;
  font-size: 1.5rem;
  text-decoration: underline;
  text-decoration-color:#d7262d ;
  font-weight: bolder;
}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button2 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}
.content{
  margin-top:40px;
  padding-left: 140px;
  padding-right: 130px;
}
.about{
  padding-left: 17px;
}
.flex-child {
    flex: 1;
    border: 0.2px solid blue;
    height: 210px;
    margin-top: 50px;
    flex: 0 0 43%;
}  

.flex-child:first-child {
    margin-right: 60px;
} 
.yes_team{
    padding: 10px;
    font-size: 13px;
}
h2{
    color:#0062a8;
    font-size: 20px;
}
.red{
    color: #d7262d;
}
.box-links{
    color:#0062a8;
} 
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 35px;
    column-gap: 31px;
  }
  
  .grid-item {
    padding:5px;
    background:#eee;
    display: flex;
    height: 350px;
    
    justify-content: center;
  }
  .container {
    position: relative;
    text-align: center;
    color: white;
  }
  .back{
    height: 400px;
  }
  .centered {
    position: absolute;
    top: 40%;
    left: 60%;
    transform: translate(-50%, -50%);
    font-size:80px;
    color:#0062a8;
    font-weight: bold;
  }
  
  
  .footer1{
    position: absolute;
    height: 390px;
    background-color:#eee;
    width:100%;
    padding-left: 10px;
  }
  h4{
    font-weight: bolder;
    color: black;
    text-decoration: underline;
    text-decoration-color:  #d7262d;
  }
  a{
    color: gray;
    padding: 6px;
    line-height: 12px;
    font-size: 14px;
  }
  .icons{
    height: 33px;
  
  }
  .last{
    font-weight: bold;
    color: black;
    text-decoration: underline;
    text-decoration-color: #d7262d;
    font-size: 15px;
  } 